
  <div class="box">
    <button class="btn btn-danger delete" (click)="delete()">X</button>
    <div class="sliderBox">
        <div class="previewBox">
            <img onError="this.src='../assets/images/placeholder-image.png'" src="{{preview}}" id="preview" alt=""> 
        </div>
        <hr>
        <div class="slider">
            <div class="uploudBtn"> 
                <label *ngIf="images.length < 5" for="upload" class="btn btn-success">+</label>
               <img *ngFor="let image of images;let index = index" (click)="display(index)" src="{{image}}" alt="">
                <input type="file" id="upload" hidden multiple (change)="getImages($event)">
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center p-4">
          <button (click)="minsImage()" [disabled]="!preview || imgIndex == 0" class="btn"> <mat-icon>arrow_back</mat-icon></button> 
          <button  (click)="plusImage()"  [disabled]="!preview || imgIndex == (images.length - 1)" class="btn"> <mat-icon>arrow_forward</mat-icon></button> 
            
        </div>
    </div>
</div>